{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "loose": true
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    "add-module-exports", // 配置require的默认default
    "react-hot-loader/babel" // 配置react的热更新
  ]
}
