{
  "presets": [
    ["es2015", { "loose": true }],  // loose是一个比较松散的版本
    "stage-1",
    "react"
  ],
  "plugins": [
    "add-module-exports", // 配置require的默认default
    // "tranform-decorators-legacy",
    "react-hot-loader/babel" // 配置react的热更新
  ]
}
